.restaurant-list .card-body {
  padding: 15px;
  border-top: 0;
}

.restaurant-list .card-header {
  padding-top: 15px;
  padding-bottom: 0;
}

.restaurant-list-item {
  display: block;
  margin-bottom: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  overflow: hidden;
}

.restaurant-list-item:last-of-type {
  margin-bottom: 0;
}

.restaurant-list-item-top {
  position: relative;
  height: 0;
  padding-bottom: 60%;
  overflow: hidden;
  background: #e5e5e5;
}

.restaurant-list-item-img {
  display: block;
  width: 100%;
}

.restaurant-list-item-mask {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  background: -webkit-linear-gradient(top, transparent, black);
  background: linear-gradient(to bottom, transparent, black);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
  color: white;
}

.restaurant-list-item-mask a {
  color: inherit;
}

.restaurant-list-item-mask-left {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.restaurant-list-item-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
  margin-bottom: 6px;
}

.restaurant-list-item-location {
  font-size: 12px;
  margin-right: 4px;
}

.restaurant-list-item-location i {
  position: relative;
  top: -1px;
  margin-right: 4px;
}

.restaurant-list-item-discount {
  font-size: 14px;
}

.restaurant-list-item-discount-num {
  font-size: 45px;
  margin-right: 4px;
  position: relative;
  top: 2px;
}

.restaurant-list-item-bottom {
  padding: 10px 15px;
  color: #333333;
  font-size: 12px;
  border: 1px solid #e5e5e5;
  border-top: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.restaurant-list-item-meta {
  width: 60%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.restaurant-list-item-badges {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.restaurant-list-item-badges-item {
  margin-right: 10px;
  color: #a5a5a5;
}

.restaurant-list-item-badges-item:last-of-type {
  margin-right: 0;
}

@media screen and (min-width: 641px) {
  .restaurant-list .card-body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .restaurant-list-item {
    margin-right: 15px;
    width: -webkit-calc( (100% - 15px) / 2 );
    width: calc( (100% - 15px) / 2 );
  }
  .restaurant-list-item:nth-of-type(2n) {
    margin-right: 0;
  }
}

.showcase-item {
  display: block;
}

.showcase-item img {
  display: block;
  width: 100%;
}

@media screen and (min-width: 641px) {
  .showcase-item {
    margin-right: 7.5px;
  }
}

.showcase .slick-dots {
  bottom: 5px;
}

.showcase .slick-dots li {
  margin-right: 5px;
  border: 1px solid white;
  background: transparent;
  border-radius: 50%;
}

.showcase .slick-dots li:last-of-type {
  margin-right: 0;
}

.showcase .slick-dots li.slick-active {
  background: white;
}

.tiles .card-body {
  padding: 0;
}

.tiles .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #e5e5e5;
}

.tiles .row:last-of-type {
  border-bottom: none;
}

.tiles-item {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-right: 1px solid #e5e5e5;
}

.tiles-item:nth-of-type(2n) {
  border-right: none;
}

.tiles-item img {
  display: block;
  width: 100%;
}

.no-flexbox.flexboxlegacy .tiles-item {
  display: block;
}

.site-nav {
  margin-bottom: 0;
}

.site-nav .card-body {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 0;
  background: rgba(0, 0, 0, 0.5);
}

.site-nav .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-color: #3e4242;
}

.site-nav .row:last-of-type {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}

.site-nav-item {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.site-nav-item:last-of-type::after {
  display: none;
}

.site-nav-item::after {
  content: '';
  width: 1px;
  position: absolute;
  top: 9px;
  right: 0;
  background: #3e4242;
  height: -webkit-calc(100% - 18px);
  height: calc(100% - 18px);
}

.site-nav-item-icon {
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  margin-bottom: 5px;
}

.site-nav-item-text {
  display: block;
  color: #989898;
  font-size: 12px;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media screen and (min-width: 641px) {
  .site-nav .container {
    border: 0;
  }
}

.recommendation-01 .card-header {
  padding-top: 15px;
  padding-bottom: 0;
}

.recommendation-01 .card-body {
  border-top: 0;
}

.recommendation-01 .slick-slide {
  margin-right: 60px;
}

.recommendation-01-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
  padding-bottom: 10px;
}

.recommendation-01-item-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -webkit-transition: 300ms;
          transition: 300ms;
  margin-bottom: 15.6px;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  background: #e5e5e5;
}

.slick-slide.slick-active .recommendation-01-item-img {
  -webkit-transform: scale(1.3) translateZ(0);
          transform: scale(1.3) translateZ(0);
}

.recommendation-01 .slick-dots {
  padding-bottom: 15px;
  position: static;
}

.recommendation-01 .slick-dots li {
  border-radius: 50%;
  margin-right: 5px;
  background: #e5e5e5;
}

.recommendation-01 .slick-dots li.slick-active {
  background: #919191;
}

.recommendation-02-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
}

.recommendation-02-item-img {
  width: 100%;
  background: #e5e5e5;
}

.recommendation-02 .slick-dots {
  bottom: 5px;
}

.recommendation-02 .slick-dots li {
  border-radius: 50%;
  margin-right: 5px;
  background: #e5e5e5;
}

.recommendation-02 .slick-dots li.slick-active {
  background: #919191;
}

.brand-profile {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 55px;
  height: 275px;
  background-color: black;
  background-size: cover;
  position: relative;
}

.brand-profile::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8));
}

.brand-profile-avatar {
  position: relative;
  z-index: 10;
  display: block;
  margin-bottom: 6px;
  border-radius: 50%;
  background: #e5e5e5;
}

.brand-profile-name {
  position: relative;
  z-index: 10;
  color: white;
  font-size: 14px;
  margin-bottom: 3px;
}

.brand-profile-location {
  position: relative;
  z-index: 10;
  font-size: 12px;
  color: #a5a5a5;
}

.brand-profile-location i {
  position: relative;
  top: -1.5px;
  margin-right: 4px;
}

.layer-01 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.layer-02 {
  position: relative;
  z-index: 100;
  top: 156px;
}

.layer-03 {
  background: #f5f5f9;
}
