.nav-tab-body { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; border-bottom: 1px solid #e5e5e5; width: 100%; overflow: auto; }

.nav-tab-item { background: white; color: #333333; font-size: 0.7rem; -webkit-box-flex: 1; -webkit-flex: 1 0; -ms-flex: 1 0; flex: 1 0; -webkit-flex-basis: 6em; -ms-flex-preferred-size: 6em; flex-basis: 6em; padding-top: 0.6rem; padding-bottom: 0.7rem; display: block; position: relative; text-align: center; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

.nav-tab-item.active { color: #00aaee; }

.nav-tab-item.active::after { content: ''; position: absolute; width: 100%; height: 3px; left: 0; bottom: 0; background: #00aaee; }

.list-item { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }

.list-item:last-of-type .list-item-right { border-bottom: 0; }

.list-item:last-of-type .list-item-left { padding-bottom: 0.5rem; }

.list-item-left { padding-left: 0.75rem; padding-bottom: 0.5rem; padding-top: 0.5rem; position: relative; }

.list-item-thumbnail { display: block; width: 2.25rem; }

.list-item-thumbnail img { display: block; width: 100%; }

.list-item-right { -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; border-bottom: 1px solid #e5e5e5; margin-left: 0.75rem; }

.list-item-text { -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; position: relative; padding-top: 0.5rem; padding-right: 0.75rem; padding-bottom: 0.5rem; word-wrap: break-word; }

.list-item-text-title { font-size: 0.8rem; color: #333333; }

.list-item-text-subtitle { font-size: 0.6rem; color: #a5a5a5; }

.list-item-text-subtitle:not(:empty) { padding-top: 0.15rem; }

a.list-item-text { padding-right: 1.5rem; }

a.list-item-text::after { content: "\f3d1"; font-family: "Ionicons"; color: #a5a5a5; position: absolute; right: 0.75rem; top: 50%; height: 1rem; line-height: 1rem; margin-top: -0.5rem; }

.article { font-size: 0.7rem; }

.article--noWhiteBg .card-body { background: none; border-top: 0; border-bottom: 0; }

.article .card-body { padding: 0.75rem; }

.article-header { margin-bottom: 0.75rem; }

.article-header-title { font-size: 1rem; margin-top: 0; margin-bottom: 0.5rem; }

.article-header-meta { color: #a5a5a5; font-size: 0.6rem; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }

.article-header-meta-item { margin-right: 0.25rem; padding-right: 0.25rem; }

.article-header-meta-item:last-of-type { margin-right: 0; }

.article-content h1, .article-content h2, .article-content h3, .article-content h4, .article-content h5, .article-content h6 { margin-top: 0; margin-bottom: 0.75rem; }

.article-content p { margin-top: 0; margin-bottom: 0.75rem; line-height: 1.5; }

.article-content img, .article-content video, .article-content object { max-width: 100%; }

.article-content figure { margin: 0; margin-bottom: 0.75rem; }

.article-content figcaption { text-align: center; color: #a5a5a5; }
