@import './components/restaurant-list';
@import './components/swiper';
@import './components/nav';
@import './components/recommendation-01';
@import './components/recommendation-02';
@import './components/brand-profile';


.app {
  &-header {
    position: relative;
    padding-top: pr(150);
  }

  .brand-profile {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .site-nav {
    position: relative;
    z-index: 10;
    margin-bottom: 0;
  }

  &-body {

  }
}



