@import './components/restaurant-list';
@import './components/swiper';
@import './components/tiles';
@import './components/nav';
@import './components/recommendation-01';
@import './components/recommendation-02';
@import './components/brand-profile';

.layer-01 {
}


.layer-02 {
  margin-top: pr(-123);
  position: relative;
  z-index: 100;

  .site-nav {
    margin-bottom: 0;
  }
}

.parallax {
  .layer-01 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    transform: translateZ(0);
    will-change: transform;
  }

  .layer-02 {
    top: pr(275);
  }

  .layer-03 {
    background: $pageGray;
  }
}


