@import './base/vars';
@import './base/util';
@import './base/reset';
@import './components/font-awesome';
@import './components/card';

.container {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

html {
  font-size: 20px; // chrome for android ignore font-size < 12

  @include media-md-up {
    font-size: 20px * 1.1;
  };
}


body {
  font-size: pr(16);
  font-family: Roboto,
               'HelveticaNeue-Light',
               'Helvetica Neue Light',
               'Helvetica Neue',
               Helvetica,
               Arial,sans-serif;
  line-height: 1.2;
  background: $pageGray;
  color: $fontBlack;
}

.app {
  visibility: hidden;

  &.ready {
    visibility: visible;
  }
}

// img {
//   visibility: hidden;
//   transition: 600ms;
//   opacity: 0;

//   &.loaded {
//     visibility: visible;
//     opacity: 1;
//   }
// }
