@import './base/vars';
@import './base/util';
@import './base/reset';
@import './components/card';
@import './components/button';
@import './components/ionicons';

.container {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

html {
  font-size: 20px; // chrome for android ignore font-size < 12

  @include media-md-up {
    font-size: 20px * 1.1;
  };
}


body {
  font-size: pr(16);
  font-family: Roboto,
               'HelveticaNeue-Light',
               'Helvetica Neue Light',
               'Helvetica Neue',
               Helvetica,
               Arial,sans-serif;
  background: $pageGray;
  color: $fontBlack;
}

a {
  color: $blue;
}

.app {
  // display: none;
  &.ready {
    // display: block;
  }
}

// img {
//   visibility: hidden;
//   transition: 600ms;
//   opacity: 0;
// }

.img--loaded {
  visibility: visible;
  opacity: 1;
}
