@import '../base/vars';
@import '../base/util';

.brand-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding-top: 40px;
  padding-bottom: 140px; // 足够容纳两行导航的空间
  background: black url(../images/profile-bg.png);
  background-size: 100% 100%;

  &-avatar {
    display: block;
    margin-bottom: 6px;
    border-radius: 50%;
  }

  &-name {
    font-size: 14px;
    margin-bottom: 3px;
  }

  &-location {
    font-size: 12px;
    color: $fontGray;

    i {
      position: relative;
      top: -1.5px;
      margin-right: 4px;
    }
  }
}