@import '../base/vars';
@import '../base/util';


.card {
  margin-bottom: $gutter;

  &-header {
    display: flex;
    padding: $gutter/2 $gutter;
    justify-content: space-between;
    background: white;
    border-top: 1px solid $borderGray;

    &-title {
      font-size: 14px;
    }

    &-actions {
      &-item {
        color: $fontBlack;
        font-size: 12px;
        &::after {
          content: '»';
        }
      }
    }
  }

  &-body {
    background: white;
    border-top: 1px solid $borderGray;
    border-bottom: 1px solid $borderGray;
  }

  &-footer {
    border-bottom: 1px solid $borderGray;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;

    &-actions {
      &-item {
        padding: $gutter;
        display: block;
        font-size: 12px;
        color: $fontBlack;
      }
    }
  }
}
