@import '../base/vars';
@import '../base/util';

.recommendation-01 {
  $imgSize: 80px;

  .slick-slide {
    margin-right: calc(50vw - #{$imgSize});
  }

  &-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: $gutter * 2;
    padding-bottom: $gutter;

    &-img {
      width: $imgSize;
      height: $imgSize;
      transition: 300ms;
      margin-bottom: 10px + 10px * 1.3;
      transform: translateZ(0);
    }
  }

  .slick-slide.slick-active &-item-img {
    transform: scale(1.3) translateZ(0);
  }
}

.no-csscalc {
  .recommendation-01 .slick-slide {
    margin-right: 70px;
  }
}