@import '../base/vars';
@import '../base/util';

.swiper-slide-active .recommendation-01-item img {
  transform: scale(1.3);
  transition: 300ms;
}

.recommendation-01 {
  $imgSize: pr(80);
  $scale: 1.3;

  .card-header {
    padding-top: $gutter;
    padding-bottom: 0;
  }

  .card-body {
    border-top: 0;
  }


  &-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: $gutter;
    padding-bottom: $gutter/3*2;
    color: $fontBlack;

    &-img {
      display: block;
      width: $imgSize;
      height: $imgSize;
      border-radius: 50%;
      transition: 300ms;
      margin-bottom: 12px * $scale;
      transform: translateZ(0);
      background: $borderGray;
    }

    &-text {
      font-size: pr(14);
    }
  }

  .swiper-pagination {
    position: static;
    padding-bottom: 10px;
  }
}
