@import '../base/vars';
@import '../base/util';


.restaurant-list {
  .card-body {
    padding: $gutter;
    padding-top: $gutter/3*2;
    border-top: 0;
  }

  .card-header {
    padding-top: $gutter;
    padding-bottom: 0;
  }

  &-item {
    display: block;
    margin-bottom: $gutter;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    overflow: hidden;

    &:last-of-type {
      margin-bottom: 0;
    }

    &-top {
      position: relative;
      height: 0;
      padding-bottom: 60%;
      overflow: hidden;
      background: $borderGray;
    }

    &-img {
      display: block;
      width: 100%;
    }

    &-mask {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      background: linear-gradient(to bottom, transparent, black);
      display: flex;
      align-items: center;
      padding: $gutter/3*2 $gutter;
      @include fontColor(white);

      &-left {
        flex: 1;
      }
    }

    &-name {
      @include clipText;
      font-size: 14px;
      margin-bottom: 6px;
    }

    &-location {
      font-size: 12px;
      margin-right: 4px;
      i {
        position: relative;
        top: -1px;
        margin-right: 4px;
      }
    }

    &-discount {
      font-size: 14px;
      &-num {
        font-size: 45px;
        margin-right: 4px;
        position: relative;
        top: 2px;
      }
    }

    &-bottom {
      padding: $gutter/3*2 $gutter;
      color: $fontBlack;
      font-size: 12px;
      border: 1px solid $borderGray;
      border-top: 0;
      display: flex;
      align-items: center;
    }

    &-meta {
      width: 60%;
      @include clipText;
    }

    &-badges {
      flex: 1;
      display: flex;
      justify-content: flex-end;

      &-item {
        margin-right: $gutter/3*2;
        color: $fontGray;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }

  @include media-md-up {
    .card-body {
      display: flex;
      flex-wrap: wrap;
    }

    &-item {
      margin-right: $gutter;
      width: calc( (100% - #{$gutter}) / 2 );

      &:nth-of-type(2n) {
        margin-right: 0;
      }

    }
  };
}