@import '../base/vars';
@import '../base/util';


.text-list {
  &-item {
    display: flex;
    color: $fontColor;
    border-bottom: 1px solid $borderGray;
    padding: $gutter;
    justify-content: space-between;

    &::after {
      content: '\f105';
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 22px;
      color: #C7C7CC;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 10px;
      margin-left: $gutter;
    }

    &:last-of-type {
      border-bottom: none;
    }
  }
}


@include fixAndroidBrowser {
  .text-list-item::after {
    display: none;
  }
};
